@use "../abstracts/variables" as *;
@use "../abstracts/loops" as *;
@use "../abstracts/mixin" as *;
@use "../components/header" as *;



/* --------header slider start -------*/
.slider_bg{
	background-color: $slider-bg-color;
}
.slider_height{
	min-height: 950px;
}
.slider_text{
    h2 {
        margin-bottom: 22px;
        span{
            color:$secondary-color;
            display: block;
            padding-top: 130px;
        }
      }
    p {
        margin-bottom: 45px;
      }
    .slider_btn{
        @include common-btn($white, $secondary-color, $secondary-color, transparent, $primary-color);
    }
}


/* -------- banner end -------*/

//------------ how it works start -----
.how_it_work{
  .container{
    width: 1040px;
  }
}

.content_card_box{
  padding: 50px 44px 44px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content_card_text {
  h4 {
    font-size: 22px;
    margin: 36px 0 25px;
 }
}
.read_more a{
  color:$primary-color;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  &::after{
    content: "";
    height: 10px;
    width: 10px;
    background-color: #aaeecd;
    position: absolute;
    bottom: 4px;
    right: -16px;
  }
 }