@use "../abstracts/variables" as *;
@use "../abstracts/loops" as *;
@use "../abstracts/mixin" as *;
@use "../components/header" as *;




/* --------header slider start -------*/
.slider_bg{
	background-color: $slider-bg-color;
}

.slider_text{
  padding-top: 130px;
  @media #{$xl}{
    padding-top: 0;
  }
    h2 {
        margin-bottom: 22px;
        span{
            color:$secondary-color;
            display: block;
            
        }
      }
    p {
        margin-bottom: 45px;
      }
}


/* -------- banner end -------*/

//------------ how it works start -----


.content_card_box{
  padding: 50px 44px 44px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content_card_text {
  h4 {
    font-size: 22px;
    margin: 36px 0 25px;
 }
}
.read_more a{
  color:$primary-color;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  &::after{
    content: "";
    height: 10px;
    width: 10px;
    background-color: #aaeecd;
    position: absolute;
    bottom: 4px;
    right: -16px;
  }
 }

//  --------- how it works end -----------
//  --------- access area start -----------
.access_platform_img_area {
  margin-left: -242px;
  @media #{$xxl}{
    margin-left: 0px;
    margin-right: 50px;
  }
}
.access_platform_text_area{
  .assess_title {
    margin: 30px 0px 23px;
    line-height: 52px;
  }
  .assess_subtitle {
    margin-bottom: 45px;
}
}

// -------- access area end ----------
// -------- software feature start ----------
.software_feature_box {
  box-shadow: none;
  text-align: center;
  padding-top: 0;
  padding: 0 15px;
}

.effort_manage_text_area{
  .effort_manage_title {
    margin: 32px 0 22px;
  }
  .effort_manage_subtitle {
    margin-bottom: 42px;
  }
}

.effort_manage_img_area{
  margin-right:-242px;
  @media #{$xxl}{
      margin-right: -90px;
  }
}

// -------- software feature end ----------
// -------- choose your plan start ----------
.plan_box_area {
  border: 1px solid #eaecee;
  text-align: center;
}
// -------- choose your plan end ----------

.price_hr{
  background-color: #ccc;
  border: none;
  margin: 40px;
}

.plan_box_header {
  img {
    margin: 30px 0 20px;
  }
  h4 {
    font-size: 24px;
    font-weight: 600;
}  
}

.plan_box_body{
  .price {
    font-size: 24px;
    margin-bottom: 35px;
    font-weight: 600;
    .price_text{
      color:$p-color;
      font-size: 18px;
    }
}

ul{
  li {
    font-size: 15px;
    margin-bottom: 22px;
  }
}
}


.plan_box_area {
  .price_footer{
    padding: 35px 0;
    a{
      color:$primary-color;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 600;
    }
    a.active{
      color:$secondary-color;
    }
  }
  
  &:hover .price_footer a{
    color:$secondary-color;
  }
}

// ------- testimonial area start ---------

.testimonial_img_box img {
  margin-left: -50px;
}

  .testimonial_text_box {

    span {
      font-size: 14px;
      strong {
        font-size: 22px;
        color:$primary-color;
    }
    }
  p {
      margin: 30px 0;
  }
  }


 .owl-carousel button.owl-dot {
    background: #d3d8dd;
    height: 5px;
    width: 20px;
    margin:60px 10px 0 0;
   @include transition(.3s)
}
button.owl-dot.active {
  background: $secondary-color;
}

//------------- barans ----------------

.owl-carousel .owl-item img {
    display: block;
    width: auto;
}

// -------- email form -----------
.form_area {
  width: 750px;
  margin: 0 auto;
  text-align: center;
  input[type="email"] {
    height: 70px;
    width: 75%;
    border: 1px solid #7e7e7e;
    padding-left: 20px;
    outline: none;
  }
  .submit{
    height: 70px;
    width: 20%;
    background-color: $secondary-color;
    color: $white;
    border: 1px solid $secondary-color;
    @include transition(.3s);
    &:hover{
      background: transparent;
      color:$secondary-color;
    }
  }
}


// --------- footer ------------

footer{
  background-color: $price-box;
  .footer_logo {
    margin-bottom: 26px;
}
 p {
  margin-bottom: 30px;
  padding-right: 5px;
}
.footer_icon_box {
  .icon {
    width: 35px;
    height: 35px;
    background-color: $gray;
    display: inline-block;
    font-size: 22px;
    color: $white;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
    @include transition(.3s);
    &:hover{
      background: $secondary-color;
    }
  }
}
  .footer_title {
    font-size: 22px;
    margin-bottom: 30px;
}
ul{
  li{
    margin-bottom: 10px;
    a{
      color:$gray;
      &:hover{
        color: $secondary-color;
      }
    }
  }
}

}
