@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;



.section_title{
   color:$primary-color;
   font-size: 3rem;
   font-weight: 600;
   line-height: 50px;

}


.slider_btn{
    @include common-btn($white, $secondary-color, $secondary-color, transparent, $primary-color);
}