@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;


.how_it_work,.access_platform_area,.effort_manage_area{
   .container{
      width: 1140px;
   }
}

.section_title{
   color:$primary-color;
   font-size: 45px;
   font-weight: 600;
   line-height: 50px;

}


.slider_btn{
    @include common-btn($white, $secondary-color, $secondary-color, transparent, $primary-color);
}