@use "./variables" as *;


@mixin transition($time) {
    transition:all $time linear 0s;
    -webkit-transition:all $time linear 0s;
    -moz-transition:all $time linear 0s;
    -ms-transition:all $time linear 0s;
    -o-transition:all $time linear 0s;
}
@mixin transform($value){
  transform: $value;
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
}

// ----buttons

@mixin common-btn($color,$bg-color,$border,$hover-bg,$hover-text){
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $border;
    border-radius: 50px;
    background-color:$bg-color;
    @include transition(.3s);
    a{
        color:$color;
    } 
    &:hover{
        background-color:$hover-bg;
    }
    &:hover a{
    color:$hover-text;
}
}


 
